.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# ignore any generated certificates
certs

# ignore compiled cli
cli/cli

# ignore fuzz artifacts
fuzz/pulsar-corpus-gen
fuzz/*.zip
fuzz/*-workdir/
fuzz/initial-corpus/
